$grey-bg: #2b2a2a;
$dark-blue-bg: #131c2f;
$dark-blue-bg-mobile: #0c1529;
$mouse-light-color: #1de0b1;

* {
  // font-family: Cabin;
  // margin: 0;
  // padding: 0;
  // background-color: #22333B;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
